body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to top, rgba(155,213,235,1) , rgba(255,255,255,1));
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
